* {
    display: grid;
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
}

/*header {
    height: 7rem;
    background-color: lightblue;
}

nav, main, aside {
    height: 15rem;
}

nav {
    background-color: lightcoral;
}

main {
    background-color: aquamarine;
}

aside {
    background-color: yellow;
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 15rem 1fr;
        height: 100vh;
    }
    
    header {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    nav, main, aside {
        height: unset;
    }
}*/
/*
body{
    display: grid;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer" 
    ;
    height: 100vh;
    gap: 10px;
}
aside{
    display: none;
}

@media screen and (min-width: 768px) {
body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "aside nav nav nav"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "footer footer footer footer" 
    ;
    height: 100vh;
    gap: 10px;
}
aside {
    display: unset;
}
}


header {
    grid-area: header;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: peachpuff;
    color: white;
    text-align: center;
}

main {
    grid-area: main;
    background-color: gray;
    color: white;
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: orangered;
    color: white;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
}
*/
head {
    display: none;
}

body{
    display: grid;
        grid-template-areas:
        "header header main"        
        "image1 image1 image1"
        "image1 image1 image1"
        "image1 image1 image1"
        "image1 image1 image1"
        "image2 image2 image2"
        "image2 image2 image2"
        "image2 image2 image2" 
        "image2 image2 image2"
        "image2 image2 image2"
        "image2 image2 image2"
        "image2 image2 image2"
        "image2 image2 image2"
        "image2 image2 image2"
        "image3 image3 image3"
        "image3 image3 image3"
        "image3 image3 image3"
    ;
    height: 100%;
}

#menubar {
    grid-auto-flow: column;
    max-height:50px;
    justify-content: end;
}

img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

header {
    grid-area: header;
    background-color: white;
    color: black;
    text-align: left;
    max-height: 20px;
}

main {
    grid-area: main;
    max-height: auto;
    max-width: 100%;
    max-height: auto;
    border: 10px solid white;
    grid-auto-flow: column;
    justify-content: end;
}

#Image1 {
    grid-area: image1;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    border: 10px solid white;
}

nav {
    grid-area: nav;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    display: none;
    border: 10px solid white;
}

#Image2 {
    grid-area: image2;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    border: 10px solid white;
    justify-content: center;
    text-align: center;
}

#Image3 {
    grid-area: image3;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    border: 10px solid white;
    justify-content: center;
}

#Image4 {
    grid-area: image4;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    display: none;
}
#Image5 {
    grid-area: image5;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    display: none;
}
#Image6 {
    grid-area: image6;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    display: none;
}

#Image7 {
    grid-area: image7;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    display: none;
}

@media screen and (min-width: 768px) {
    body{
        display: grid;
            grid-template-areas:
            "header header nav nav nav nav"        
            "image1 image1 image1 image1 image2 image2"
            "image1 image1 image1 image1 image2 image2"
            "image1 image1 image1 image1 image2 image2"
            "image3 image3 image3 image4 image4 image4" 
            "image3 image3 image3 image4 image4 image4"
            "image3 image3 image3 image4 image4 image4"
            "image3 image3 image3 image5 image5 image5" 
            "image3 image3 image3 image5 image5 image5"
            "image3 image3 image3 image5 image5 image5"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
        ;
        height: 100%;
    }
    #Image4{
        display: unset;
        height: 1005;
    }
    #Image5{
        display: unset;
    }
    #Image6{
        display: unset;
    }
    #Image7{
        display: unset;
    }
    #menubar {
        display: none;
    }
    main {
        display: none;
    }
    }

@media screen and (min-width: 1200px) {
    body{
        display: grid;
            grid-template-areas:
            "header header nav nav nav nav"        
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image2 image2 image3 image3"
            "image1 image1 image2 image2 image3 image3"
            "image4 image4 image4 image4 image3 image3" 
            "image4 image4 image4 image4 image3 image3"
            "image4 image4 image4 image4 image3 image3"
            "image4 image4 image4 image4 image5 image5" 
            "image4 image4 image4 image4 image5 image5"
            "image4 image4 image4 image4 image5 image5"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
            "image6 image6 image7 image7 image7 image7"
        ;
        height: 100%;
    }
    #Image4{
        display: unset;
        height: 1005;
    }
    #Image5{
        display: unset;
    }
    #Image6{
        display: unset;
    }
    #Image7{
        display: unset;
    }
    #menubar {
        display: none;
    }
    main {
        display: none;
    }
}